@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", serif;
  max-width: 1200px;
  margin: 0 auto;
  background: #f5f5f5;
  color: #0e0e0e;
}
.primary-btn {
  font-family: "Fira Sans";
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  border-radius: 8px;
  border: 1px solid #006a50;
  padding: 15px 30px;
  cursor: pointer;
}
/* Navbar Styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.nav-bar span a {
  text-decoration: none;
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
}

/* Banner Section Styles */
.banner {
  display: flex;
  border-radius: 24px;
  background: #c6e4d6;
  padding: 80px 60px;
  align-items: center;
  gap: 50px;
  margin-bottom: 80px;
}
.banner-content {
  max-width: 52%;
}
.banner-content h3 {
  color: #0e0e0e80;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}
.banner-content h2 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-image img {
  width: 100%;
}
.banner-btn {
  color: #ffffff;
  background: #006a50;
  padding: 17px 34px;
}

/* Vision of Future Section Styles */
.vision,
.news-section {
  margin-bottom: 80px;
}
.section-title h2 {
  font-size: 40px;
  margin-bottom: 24px;
}
.section-title p,
.card-item p {
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
}
.card {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}
.card-item {
  padding: 32px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  border-radius: 15px;
  width: 30%;
}
.card-item h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
}
.bg-blue {
  background: rgba(84, 144, 245, 0.2);
}
.bg-green {
  background: #c6e4d6;
}
.bg-yellow {
  background: #f7ebcf;
}
.card-image {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.card-btn {
  color: #fff;
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  width: fit-content;
}
.btn-blue {
  background: #5490f5;
}
.btn-green {
  background: #09a15c;
}
.btn-yellow {
  background: #ffc239;
}

/* Quotation Section Styles */
.quotation {
  padding: 48px 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  position: relative;
}
.quotation img {
  position: absolute;
  top: 24px;
  left: 24px;
}
.quotation h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  margin-top: 12px;
}
.quotation p {
  color: rgba(14, 14, 14, 0.8);
  line-height: 24px;
}
.quotation .position {
  color: rgba(14, 14, 14, 0.6);
}

/* News Section Styles */
.news {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}
.news-item {
  display: flex;
  padding: 48px;
  border-radius: 24px;
  background: #fff;
  gap: 32px;
  align-items: center;
}
.news-thumbnail {
  width: 40%;
}
.news-thumbnail img {
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
  height: 350px;
}
.news-details {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 60%;
}
.news-details h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
}
.news-details p {
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
}
.news-details .newspaper-logo {
  width: 15%;
}
.image-right-view {
  flex-direction: row-reverse;
}
.news-details .news-btn {
  color: #fff;
  font-family: "Fira Sans";
  font-size: 18px;
  font-weight: 600;
  padding: 13px 26px;
  border-radius: 8px;
  background: #006a50;
  width: fit-content;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
